@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond&display=swap');

html, body {
    font-family: 'EB Garamond', cursive;
    color: #282c34 !important;
    overflow-x: hidden;
}

.section {
    position: relative;
}

.section-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 160px;
}

.section-container.home-component {
    padding: 0;
}

.home-section {
    background: #16151C;
}

.about-section {
    background: #eae7dc;
}

.portfolio-section {
    background: #eae7dc;
}

.contact-section {
    background: #16151C;
}

.footer-section {
    background: #110f17;
}

.section-container.footer-component {
    height: 210px;
}

@media screen and (max-width: 768px) {
    .header-title-bar {
        background: black;
        height: 3px;
        margin: 2px 150px 50px 150px;
    }

    #header-title:before, #header-title:after {
        display: none;
    }
}
