@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', cursive;
  color: #282c34 !important;
  overflow-x: hidden;
}

.section {
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
  position: relative;
}

.section-container {
  width: 100%;
  /*max-width: 400px;*/
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 160px;
}

.section-container.home-component {
  padding: 0;
}

.section-container.about-component {

}

.home-section {
  background: #16151C;
}

.about-section {
  /*background: #d8ab94;*/
  background: #eae7dc;
}

.portfolio-section {
  /*background: #4C5364;*/
  background: #eae7dc;
}

.contact-section {
  background: #16151C;
}

.footer-section {
  background: #110f17;
  /*padding: 70px 0 50px 0;*/
  /*height: 70px;*/
}

.section-container.footer-component {
  height: 210px;
  /*padding: 0;*/
}
