@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond&display=swap');

.nav {
    /*padding-right: 70px;*/
    padding-top: 15px;
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    font-family: 'EB Garamond', cursive;
    padding-top: 1px;
    padding-bottom: 10px;
}

/*#resume {*/
    /*color: #A6E22E;*/
    /*background-color: transparent;*/
    /*margin-right: 25px;*/
    /*border: 2px solid;*/
    /*border-radius: 3px;*/
    /*padding: 0.75rem 1rem;*/
    /*line-height: 1;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
    /*transition: all 0.3s cubic-bezier(0.65, 0.4, 0.33, 1) 0s;*/
/*}*/

/*#resume:hover {*/
    /*!*color: white;*!*/
    /*background-color: #282c34;*/
/*}*/

.nav-link:hover {
    border-bottom: 3px solid;
    color: white;
}

.btn-resume {
    /*padding-top: 15px;*/
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}