@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond&display=swap');

.nav {
    height: 50px;
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}

.nav .nav-item {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35px;
    margin-left: 35px;
    background: #16151C;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    font-family: 'EB Garamond', sans-serif;
}

.nav-link:hover {
    border-bottom: 3px solid;
    color: white;
}

.btn-resume {
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}

.nav .nav-item .nav-link.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav .nav-item:not(:last-child) {
        display: none;
    }
    .nav .nav-item:first-child {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        display: block;
    }
    .nav .nav-item:first-child{
        float: left;
        margin: auto;
    }
    .nav .nav-item .nav-link.icon {
        float: right;
        display: block;
    }
    .nav .nav-item .nav-link.icon:hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 768px) {
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .nav-item .nav-link.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive .nav-item {
        float: none;
        display: block;
        text-align: left;
        margin: auto;
    }
}