@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond&display=swap');

.nav {
    padding-top: 15px;
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    font-family: 'EB Garamond', cursive;
    padding-top: 1px;
    padding-bottom: 10px;
}

.nav-link:hover {
    border-bottom: 3px solid;
    color: white;
}

.btn-resume {
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
}

.nav .nav-item .nav-link.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav .nav-item:not(:last-child) {
        display: none;
    }
    .nav .nav-item:first-child {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav .nav-item .nav-link.icon {
        float: right;
        display: block;
    }
    .nav .nav-item .nav-link.icon:hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 768px) {
    .nav.responsive {
        position: relative;
        flex-direction: column;
        display: flex;
    }
    .nav.responsive .nav-item .nav-link.icon {
        position: relative;
        margin: auto;
        /*right: 1px;*/
        /*top: 10px;*/
    }
    .nav.responsive .nav-item {
        margin: auto;
        /*float: none;*/
        display: block;
        text-align: center;
    }
}