.contact-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    color: white;
}

.contact-text {
    font-size: 25px;
}

.form-container {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

.form-group {
    margin: auto;
    padding-top: 5px;
}

.form-control {
    /*background-color: #404040 !important;*/
    /*background-color: #2d2d2d !important;*/
    background-color: #201e29 !important;
    color: white !important;
}

.form-control:focus {
    border-color: gray;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 128, 128, 0.6);
}

.form-control::-webkit-input-placeholder {
    color: gray;
}

input:required:focus {
    border: 1px solid red;
    outline: none;
}

input:required:hover {
    opacity: 1;
}

.submit-div {
    padding-top: 6px;
    text-align: right;
}

.btn-submit {
    background-color: #16151C;
}

#header-title-contact {
    letter-spacing: 9px;
    font-weight: bold;
    margin-bottom: 20px;
    /*border-bottom: 1px solid white;*/
    /*line-height: 0.1em;*/
    /*margin: 10px 0 20px;*/

    /*opacity: 1;*/
    /*animation-name: fadeInOpacity;*/
    /*animation-iteration-count: 1;*/
    /*animation-timing-function: ease-in;*/
    /*animation-duration: 10s;*/
    overflow: hidden;
}

#header-title-contact:before, #header-title-contact:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#header-title-contact:before {
    right: 2.0em;
    margin-left: -50%;
}

#header-title-contact:after {
    left: 2.0em;
    margin-right: -50%;
}

/*span {*/
    /*color: #bf1650;*/
/*}*/

/*span::before {*/
    /*display: inline;*/
    /*content: "⚠ ";*/
/*}*/

/*::-webkit-input-placeholder {*/
    /*text-decoration-color: white;*/
/*}*/



