.skills-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    color: black;
}

.skills-info {
    height: 650px;
    box-shadow: #282c34 5px 5px;
}

.skills-text {
    font-size: 25px;
}

.prog-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    width: 650px;
    /*color: black;*/
}

.prog-info {
    background: #272822;
    /*background: #282c34;*/
    /*width: 250px !important;*/
    height: 500px;
    -webkit-box-shadow: 0px 2px 32px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 32px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
}

.prog-header {
    background: #cfd8dc;
    height: 20px;
}

.prog-buttons {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.prog-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}

.btn-1 {
    background: yellowgreen;
}

.btn-2 {
    background: #ffb74d;
}

.btn-3 {
    background: #d32f2f;
}

.prog-content {
    text-align: left;
    margin-left: 50px;
    margin-top: 80px;
}

.prog-header-text {
    text-align: center;
    margin-right: 45px;
    /*padding-bottom: 5px;*/
}

.margin-space {
    height: 50px;
}

.var {
    color: #AE81FF;
}

.prog-text {
    color: #F8F8F2;
}

.comma-bracket {
    color: #66D9EF;
}

.prog-details {
    color: #A6E22E;
}