@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', cursive;
  color: #282c34 !important;
  overflow-x: hidden;
}

.section {
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
  position: relative;
}

.section-container {
  width: 100%;
  /*max-width: 400px;*/
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 160px;
}

.section-container.home-component {
  padding: 0;
}

.section-container.about-component {

}

.home-section {
  background: #16151C;
}

.about-section {
  background: #282c34;
}

.portfolio-section {
  background: #4C5364;
}
