@import url('https://fonts.googleapis.com/css?family=Lato');

header {
    display: block;
    background-color: #646464;
    background-image: url("./components/images/ag-square.png");
    width: 100%;
    height: 60px;
    /*color: white;*/
}

.home-div {
    background-color: #646464;
    background-image: url("./components/images/ag-square.png");
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    text-align: center;
    /*display: -ms-flex;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 160%;
}

.home-div > .name {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    /*padding: 0;*/
    position: relative;
    width: 1056px;
    padding-bottom: 300px;
}

.btn {
    color: white;
    margin: auto;
    /*border-color: white;*/
    border: 2px solid;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.fas {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*transform: translate(0, 0);*/
    color: black;
    padding-left: 10px;
    font-size: 15px;
}

.btn .fas {
    transition: all 0.4s ease;
    right: 15px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:hover .fas {
    transform: rotateZ(90deg);
}

.nav {
    padding-right: 170px;
    padding-top: 15px;
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
    /*transition: all 0.3s ease-in-out;*/
}

.nav-link {
    color: white;
    margin-right: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    font-family: 'Lato', cursive;
}

.nav-link:hover {
    border-bottom: 3px solid;
    color: white;
}

footer {
    display: block;
    width: 100%;
    height: 60px;
    /*background-color: black;*/
    /*background-color: #00a6ff;*/
    /*background-image: url("./components/images/ag-square.png");*/
    color: white;
    position: absolute;
    bottom: 0;
}