header {
    display: block;
    background-color: #646464;
    background-image: url("./components/images/ag-square.png");
    width: 100%;
    height: 60px;
    /*color: white;*/
}

#headerButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButton {
    float: left;
}

.nav {
    padding-right: 170px;
    padding-top: 15px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    /*transition: all 0.3s ease-in-out;*/
}

.nav-link {
    color: white;
    margin-right: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    font-family: helvetica;
}

.nav-link:hover {
    border-bottom: 3px solid;
    color: white;
}

footer {
    display: block;
    width: 100%;
    height: 60px;
    /*background-color: black;*/
    /*background-color: #00a6ff;*/
    /*background-image: url("./components/images/ag-square.png");*/
    color: white;
    position: absolute;
    bottom: 0;
}